<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Estilo_VistaPrincipal_Registro.css">
    <title>Document</title>
</head>
<body>
    <div class="fadeInDown" id="login-box" >
        <div class="left">
          <h1>Registrar Usuario</h1>
          
          <input type="text" name="username" placeholder="Nombre" />
          <input type="text" name="username" placeholder="Apellido" />
          <input type="number" name="username" placeholder="DNI" />
          <input type="text" name="username" placeholder="Usuario" />
          <input type="password" name="password" placeholder="Contraseña" />
          <input type="password" name="password2" placeholder="Confirmar Contraseña" />
          <input type="submit" name="signup_submit" value="Registrar" />
        </div>

        </div>
          
    </div>
    
</body>
</html>